---
# Example (Original)
firewall:
  default:
    host: prodfirewall.corp.lan
    api_key: XXYYZZ
  datacenter:
    host: datacenter.corp.lan
    api_username: admin
    api_password: admin
    port: 8443

# Example (New)
connections:
  testfw:
    hostname: firewall.domain.com
    api_username: fwuser
    api_password: fwpass
  panorama:
    hostname: panorama.domain.com
    api_key: reallylonghexadecimalapikey
  productionfw:
    hostname: firewall.domain.com
    api_key: "{{ st2kv.system.production_fw_apikey | decrypt_kv }}"
